<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Uncategorized &#8211; What is To be Done</title>
	<atom:link href="http://witbd.org/category/uncategorized/feed/" rel="self" type="application/rss+xml" />
	<link>http://witbd.org</link>
	<description></description>
	<lastBuildDate>Sun, 18 Mar 2018 14:47:30 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
	<item>
		<title>Converting to WordPress</title>
		<link>http://witbd.org/2010/04/03/converting-to-wordpress/</link>
		<comments>http://witbd.org/2010/04/03/converting-to-wordpress/#respond</comments>
		<pubDate>Sat, 03 Apr 2010 16:29:37 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://www.witbd.org/?p=99</guid>
		<description><![CDATA[The original version of this site was created in 2001-2002 using plain old html (with a bit of help from xml and xsl). Times have changed since then, and as part of our plans to reinvigorate the site we&#8217;ve just switched the site to run in wordpress which should give us a lot more flexibility [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>The original version of this site was created in 2001-2002 using plain old html (with a bit of help from xml and xsl).</p>
<p>Times have changed since then, and as part of our plans to reinvigorate the site we&#8217;ve just switched the site to run in wordpress which should give us a lot more flexibility regarding the theming and content management.</p>
<p>If you spot any bugs as a result of the transition please let us know.</p>
]]></content:encoded>
			<wfw:commentRss>http://witbd.org/2010/04/03/converting-to-wordpress/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
