<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: International Trading System and the WTO</title>
	<atom:link href="http://witbd.org/articles/international-trading-system-and-wto/feed/" rel="self" type="application/rss+xml" />
	<link>http://witbd.org</link>
	<description></description>
	<lastBuildDate>Mon, 11 Apr 2011 21:29:14 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
	<item>
		<title>By: dr Pasquale Grillo</title>
		<link>http://witbd.org/articles/international-trading-system-and-wto/#comment-4</link>
		<dc:creator><![CDATA[dr Pasquale Grillo]]></dc:creator>
		<pubDate>Mon, 11 Apr 2011 21:29:14 +0000</pubDate>
		<guid isPermaLink="false">http://www.witbd.org/?page_id=93#comment-4</guid>
		<description><![CDATA[&lt;p&gt;The participation of LDC are successful when governement
grant a free trade.The gap observed in this area are:small
extension of free market.Limited flux of capitals,low salaries and wrong intervention politics.&lt;/p&gt;
]]></description>
		<content:encoded><![CDATA[<p>The participation of LDC are successful when governement<br />
grant a free trade.The gap observed in this area are:small<br />
extension of free market.Limited flux of capitals,low salaries and wrong intervention politics.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Shenkut Ayele</title>
		<link>http://witbd.org/articles/international-trading-system-and-wto/#comment-3</link>
		<dc:creator><![CDATA[Shenkut Ayele]]></dc:creator>
		<pubDate>Wed, 08 Dec 2010 05:28:25 +0000</pubDate>
		<guid isPermaLink="false">http://www.witbd.org/?page_id=93#comment-3</guid>
		<description><![CDATA[&lt;p&gt;To what extent are LDCs are successful in the participation of trade negotiations ? And what gaps have been observed till now in this area?&lt;/p&gt;
]]></description>
		<content:encoded><![CDATA[<p>To what extent are LDCs are successful in the participation of trade negotiations ? And what gaps have been observed till now in this area?</p>
]]></content:encoded>
	</item>
</channel>
</rss>
