<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Russia and Democracy: What is To be Done?</title>
	<atom:link href="http://witbd.org/articles/russia-and-democracy/feed/" rel="self" type="application/rss+xml" />
	<link>http://witbd.org</link>
	<description></description>
	<lastBuildDate>Mon, 11 Apr 2011 21:29:14 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.4</generator>
</channel>
</rss>
